<div class="container-fluid">
<h1>Groups</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Group Name</th>
      <th scope="col">Group ID</th>

      <th scope="col">Detail View</th>
      <th scope="col">Edit Group</th>
      <th scope="col">Delete Group</th>
    </tr>
  </thead>
  <tbody>
  <% @groups.each do |group| %>
    <tr>
      <th scope="row"><%= group.title %></th>
      <td><% group.group_member.all.each do |member| %>
        <% @users.each do |user| %>
        <% if user.id == member.user_id %>
        <% if member.role == 'Organizer' %>
        <li>  <%= user.first_name%>: <%= member.role %></li><% end %>
        <% end %>
        <% end %>
      <% end %>
      </td>
      <td><%= link_to 'Detail', group, class:"btn btn-primary"%></td>
      <td><%= link_to 'Edit', edit_group_path(group), class:"btn btn-primary" %></td>
      <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
    </tr>
  <% end %>
  </tbody>

</table>


<br>

<%= link_to 'New Group', new_group_path, class:"btn btn-primary" %>

</div>